.container {
  margin-top: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

/* .card:hover {
  transform: translateY(-5px);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
} */

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
