<b>Dashboard</b>


<div class="col-lg-12 d-flex">
    <div class="col-lg-5 p-2">
        <div class="alert alert-primary" role="alert">
           Total Car-Owners - {{countList?.total_owners }}
        </div>
    </div>
    <div class="col-lg-5 p-2">
        <div class="alert alert-secondary" role="alert">
            Total Customers - {{countList?.total_customers }}
        </div>
    </div>
   
</div>
<div class="col-lg-12 d-flex">
    <div class="col-lg-5 p-2">
        <div class="alert alert-success" role="alert">
           Active Car-Owners - {{countList?.active_owners }}
          </div>
    </div>
    <div class="col-lg-5 p-2">
        <div class="alert alert-danger" role="alert">
          Active Customers -  {{countList?.active_customers}}
          </div>
    </div>
   
</div>
<div class="col-lg-12 d-flex">
    <div class="col-lg-5 p-2">
        <div class="alert alert-warning" role="alert">
            Inactive Car-Owners  - {{countList?.in_active_owners }}
          </div>
    </div>
    <div class="col-lg-5 p-2">
        <div class="alert alert-dark" role="alert">
           Inactive Customers -  {{countList?.in_active_customers }}
          </div>
    </div>
   
</div>

   



