<p>new-dashboard works!</p>
<div class="container pt-2">
    <div class="col-lg-12 row">
      <div class="col-lg-3 card">
        <span class="today-label">Today</span>
        UNIVERSITES
      </div>
      <div class="col-lg-3 card">
        <span class="today-label">Today</span>
        COLLAGES
      </div>
      <div class="col-lg-3 card">
        <span class="today-label">Today</span>
        TOTAL REGISTRATIONS
      </div>
      <div class="col-lg-3 card">
        <span class="today-label">Today</span>
        TOTAL APPLICATIONS
      </div>
    </div>
    <div class="col-lg-12 row">
      <div class="col-lg-3 card">
        <span class="today-label">Today</span>
        RESERVE CATEGORY
      </div>
      <div class="col-lg-3 card">
        <span class="today-label">Today</span>
        SC/ST and BC/DBC
      </div>
      <div class="col-lg-3 card">
        <span class="today-label">Today</span>
        FEMALE APPLICATIONS 
      </div>
      <div class="col-lg-3 card">
        <span class="today-label">Today</span>
        TOTAL ADMISSIONS
      </div>
    </div>
  </div>


  <div>
    <ng-apexcharts ></ng-apexcharts>

  </div>


  
  