
<div class="container">
    <h4>Cars List</h4>
    <div class="row">
      <div class="col-md-12 mb-3" *ngFor="let car of carList">
        <div class="card h-100">
          <div class="row no-gutters">
            <div class="col-md-3">
              <img [src]="getImageUrl(car.images[0])" class="card-img" alt="car image">
            </div>
            <div class="col-md-4">
              <div class="card-body">
                <h5 class="card-title">{{ car.car.car.name }}</h5>
                <p class="card-text"><strong>Registration Number:</strong> {{ car.car.car.registration_number }}</p>
                </div>
              
            </div>
            <div class="col-md-3">
                <div class="card-body">
                    <p class="card-text"><strong>Ride Details</strong> </p>
                    <p class="card-text"><strong>Start Date:</strong> {{ car.car.start_date }}</p>
                    <p class="card-text"><strong>End Date:</strong> {{ car.car.end_date }}</p>
                    <p class="card-text"><strong>Fare:</strong> {{ car.car.amount_earned }}</p>
                   </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center" style ="padding-top: 5%;">
                  <button class="btn-booknow" (click)="showModal()">Cancel Ride</button>
              </div>
            
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div bsModal #data="bs-modal" class="modal fade" id="modal" role="dialog"
  [config]="{backdrop: 'static'}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><strong>Cancel Ride</strong></h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="col-lg-12">
            <textarea class="form-control"formControlName="comments"
            placeholder="Comments..." rows="5"></textarea>          </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  (click)="submit()">Save</button>
        <button type="button" class="btn btn-secondary" (click)="hideModal()">Close</button>
      </div>
    </div>
  </div>
</div>